.status-bar {
    display: flex;
    justify-content: space-between;

    margin: 5vw 0 0 8vw;

    min-width: 360px;
    max-width: 600px;
}

.time {
    font-size: 4vw;
    font-weight: bold;
}

.status-icon {
    display: flex;
    flex-direction: row;

    margin-right: 5vw;
}

img {
    display: flex;

    width: 5vw;
    height: 4vw;

    margin-right: 2vw;
}

.menu-bar {
    width: 100vw;
    height: 10vw;

    margin: 6vw 0 0 4vw;
}

.name {
    font-size: 6vw;

    font-weight: 400;

    margin-right: 26vw;
}

.menu-icon {
    display: flex;

    float: right;

    margin-right: 5vw;
}

.menu-icon>li:nth-child(1) {
    display: flex;

}

.back-box>div {
    display: flex;
    background: url(../images/chevron-left-black.png);
    background-size: cover;


    width: 5vw;
    height: 5vw;

    margin-right: 28vw;


}

.menu-icon>li:nth-child(3) {
    background: url(../images/search.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;

    margin-right: 5vw;
}

.menu-icon>li:nth-child(4) {
    background: url(../images/hamburger.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;

    margin-right: 5vw;
}