.chatting-list {
    width: 100vw;
    height: 70vh;

    min-width: 360px;
    max-width: 600px;
}

section {
    display: flex;

    margin-left: 3vw;
}

section>a {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 15vw;

    margin-bottom: 2.5vw;
}

.chat-box {
    display: flex;
    position: relative;

}

.chat-img {
    display: flex;
    background: url(../images/avatar.png);
    background-size: cover;

    width: 13vw;
    height: 13vw;

    border-radius: 40%;
}

.chat-box>h2 {
    position: relative;
    width: 13vw;
    height: 5vw;

    font-size: 3.8vw;
    font-weight: 600;

    left: 5vw;
}

.chat-box>p {
    position: relative;

    font-size: 3.3vw;

    top: 6vw;
    right: 7vw;

    width: 54vw;
    height: 8vw;

    overflow: hidden;

    color: #999999;
}

.chat-box>time {
    position: relative;

    width: 20vw;

    right: 3vw;
    top: 6vw;

    color: #999999;
}


.navigation-bar>ul>li:nth-child(1) {
    margin-left: 11vw;

    background: url(../images/user-blank.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
}

.navigation-bar>ul>li:nth-child(2) {
    margin-left: 27vw;
    background: url(../images/chat-fill.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
}