.navigation-bar {
    position: fixed;

    min-width: 360px;
    max-width: 600px;

    width: 100vw;
    height: 14vw;

    background-color: #EFEFEF;
    bottom: 0;
}

.navigation-bar>ul>li {
    position: fixed;

    bottom: 5vw;
}

.navigation-bar>ul>li:nth-child(3) {
    margin-left: 45vw;
    background: url(../images/view-blank.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
}

.navigation-bar>ul>li:nth-child(4) {
    margin-left: 62vw;
    background: url(../images/shopping-blank.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
}

.navigation-bar>ul>li:nth-child(5) {
    margin-left: 79vw;
    background: url(../images/more-blank.png);
    background-size: cover;

    width: 5vw;
    height: 5vw;
}

.navigation-icon {
    display: flex;
    width: 50px;
    height: 50px;
}